
    footer{
        display: flexbox;
        justify-content: left;
        align-items: center;
        height: 50px;
        width: 100%;
        background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));
    }
    

    